@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}
:root {
  --blue: #25335C;
  --white: #FFF;
  --gray: #5C5C5C;
  --red: #FF5858;
  --green: #3EB290;
  --black: #000;
  --box_bg: #F7F9FC;
}
html, body {
  height: 100%;
  /*padding: 0 !important;*/
}


.page-wrap {
  min-height: 100%;
  margin-bottom: 0px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {}
/*--------------General CSS---------*/
img {
  border: 0 none;
  max-width: 100%;
  vertical-align: top;
}
a {
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  /*color: #3e3e3e;*/
  text-decoration: none;
}
a:hover, a:focus {
  /*color: var(--blue);*/
  text-decoration: none;
  outline: none;
}
button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
p {
  line-height: 27px;
}
p:last-child {
  margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0px 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  background-color: #D6D6D6;

}


/* ======================menu css nad Go to top start  ====================== */


/*-----------------------main styles starts here-----------------------------------------------*/
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
label {
  color: var(--gray);
  font-weight: normal;
  margin-bottom: 5px;

}
p:last-child {
  margin-bottom: 0px;
}
.text_red {
  color: #dd4b39;
}
textarea.form-control {
  resize: none;
}
.form-group {
  margin-bottom: 12px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.form-control {
  height: 41px;
  box-shadow: none;
  border: 1px solid var(--blue);
  border-radius: 0;
  font-size: 14px;
  color: var(--blue);
  font-weight: 500;
  border-radius: 8px;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--blue);
}

.overlay_ctm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*=====================================	PLACE HOLDER CSSS START HERE 		====================================*/
input.form-control::-webkit-input-placeholder {
  color: var(--blue);

}
input.form-control::-moz-placeholder {
  color: var(--blue);

}
input.form-control::-ms-placeholder {
  color: var(--blue);

}
input.textbox::-ms-input-placeholder {
  color: var(--blue);

}
input.textbox::-ms-input-placeholder {
  color: var(--blue);

}
textarea.form-control::placeholder {
  color: var(--blue);

}
textarea.form-control {
  min-height: auto;
  height: auto;
}

.cf:before, .cf:after {
  content: "";
  display: table
}
.cf:after {
  clear: both;
}
.container {
  width: 100%;
  max-width: 1170px;
}
/*===================================== PLACE HOLDER CSSS END HERE 		====================================*/
/*===================================== Commen Butons ===================================*/


/*------ Button css over ----------------*/

/*======================================================================*/

/*			CUSTOM CHECK BOX AND CUSTOM RADIO CSS START		*/
.custom-checkbox [type="checkbox"]:not(:checked), .custom-checkbox [type="checkbox"]:checked {
  left: -9999px;
  position: absolute;
}
.custom-checkbox [type="checkbox"]:not(:checked)+label:before, .custom-checkbox [type="checkbox"]:checked+label:before {
  border: 1px solid var(--blue);
  content: "";
  height: 16px;
  left: 0;
  position: absolute;
  top: -8px;
  width: 16px;
  border-radius: 2px;
}
.custom-checkbox [type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.custom-checkbox [type="checkbox"]:not(:checked)+label:after, .custom-checkbox [type="checkbox"]:checked+label:after {
  color: #fff;
  content: "\f00c";
  font-size: 9px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: -8px;
  left: 0px;
  line-height: 15px;
  padding: 1px 2px 2px 3px;
  transition: all 0.2s ease 0s;
  background-color: var(--blue);
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.custom-checkbox [type="checkbox"]:not(:checked)+label, .custom-checkbox [type="checkbox"]:checked+label {
  cursor: pointer;
  padding-left: 20px;
  position: relative;
  font-weight: 400;
  text-transform: capitalize;
}
/*	CUSTOM check CSS START	*/
/*	CUSTOM RADIO CSS START	*/
.radio-btn-small {
  display: inline-block;
  margin-right: 15px;
  padding: 0;
  position: relative;
  padding-left: 30px;
  margin-top: 3px;
}
.radio-btn-small:last-child {
  margin-right: 0;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]+label {
  font-size: 14px;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 400;
}
input[type="radio"]+label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 2px 8px 0 0;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0px;
  border: 1px solid var(--blue);
  background-color: #fff;
  border-radius: 100px;
}
input[type="radio"]:checked+label span:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--blue);
  top: 3px;
  left: 3px;
  border-radius: 100px;
}
input[type="radio"]:checked+label span {
  background-color: #fff;
}
input[type="radio"]:checked+label {
  color: #282828;
}


/*========================================================================
					bootstrap select box over
==========================================================================*/
.bootstrap-select.open>.dropdown-toggle.btn-default:hover, .bootstrap-select.open>.dropdown-toggle.btn-default:focus {
  background-color: #fff;
}
.bootstrap-select>.dropdown-toggle {
  border: 1px solid var(--blue);
  border-radius: 8px;
  font-size: 14px;
  color: var(--blue) !important;
  font-weight: 500;
  line-height: 41px;
  padding: 0px 10px;
  margin-bottom: 12px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option, .bootstrap-select.btn-group .dropdown-toggle .fas {
  color: #555;
}
/*========================================================================
					bootstrap select box over
==========================================================================*/


/* ---------------------------- custom_font_start --------------------------- */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?y8ode8');
  src: url('../fonts/icomoon.eot?y8ode8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y8ode8') format('truetype'),
    url('../fonts/icomoon.woff?y8ode8') format('woff'),
    url('../fonts/icomoon.svg?y8ode8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-filter:before {
  content: "\e903";
}
/* ---------------------------- custom_font_start --------------------------- */

/* ---------------------------- ledger_css_start ---------------------------- */
.wrap_sec {
  width: 375px;
  display: block;
  margin: 0px auto;
  background-color: var(--white);
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
header {
  background-color: var(--blue);
  padding: 20px 15px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
.back_icon a {
  display: inline-block;
  color: var(--white);
  /* padding: 0px 7px; */
}
.header_title h1 {
  font-size: 18px;
  color: var(--white);
  font-weight: 500;
}
.down_filter_btn ul {
  padding-right: 0px;
}
.down_filter_btn ul li {
  display: inline-block;
  margin-right: 10px;
}
.down_filter_btn ul li+li {
  margin-right: 0;
}
.down_filter_btn ul li a {
  font-size: 16px;
  color: var(--white);
}
.down_filter_btn ul li a:hover, .back_icon a:hover {
  color: #c1c1c1;
}
.down_filter_btn ul li a .icon-download {
  font-size: 19px;
}
.page_filter {
  padding: 0px 15px;
  margin-bottom: 30px;
  width: 100%;
  display: inline-block;
}
.bootstrap-select>.dropdown-toggle:after {
  margin-top: -4px
}
.dropdown-toggle::after {
  border: solid var(--blue);
  border-width: 0 3px 3px 0 !important;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
}
.dropup .dropdown-toggle::after {
  border: solid var(--blue) !important;
  border-width: 0 3px 3px 0 !important;
}
.dropdown-item {
  font-size: 14px;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: var(--blue);
}
.form_with_icon {
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 10px;
  font-size: 16px;
  color: var(--blue);
}
.form_with_icon_pad .form-control {
  padding-right: 30px;
}
.main_btn {
  line-height: 41px;
  text-align: center;
  width: 100%;
  background-color: var(--blue);
  border-radius: 8px;
  display: inline-block;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--blue);
}
.main_btn:hover {
  background-color: #0a1b4c;
  color: var(--white);
}
.second_btn {
  background-color: var(--white);
  color: var(--blue);
}
.second_btn:hover {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
}
.page_filter .main_btn {
  margin-top: 5px;
}
.ledger_box_main {
  padding: 0px 15px;
}
.ledger_box {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  background-color: var(--box_bg);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.ledger_box_left h2 {
  font-size: 15px;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 5px;
}
.ledger_box_left p {
  font-size: 14px;
  color: var(--gray);
  line-height: 24px;
}
.ledger_box_right p {
  font-weight: 500;
  color: var(--gray);
  margin-bottom: 7px;
}
.ledger_balance h3 {
  font-weight: 600;
  font-size: 15px;
  color: var(--red);
}
.ledger_balance h3:last-child {
  margin-top: 5px;
}
.ledger_balance_cr h3 {
  color: var(--green);
}
.modal-backdrop {
  display: none;
}
.offcanvas-start {
  width: 304px;
}
.offcanvas {
  position: absolute;
}
.offcanvas-backdrop {
  position: absolute;
}
.btn-close {
  background: none;
  color: var(--blue);
}
.offcanvas-header .btn-close {
  width: 32px;
  height: auto;
  opacity: 1;
}
.offcanvas-header .btn-close {
  font-size: 30px;
}
.offcanvas-header {
  padding: 15px 15px 10px;
}
.offcanvas-header .btn-close {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.offcanvas-header .btn-close i {
  color: var(--blue);
}
.offcanvas-header .btn-close i:hover {
  color: var(--black);
}
.offcanvas-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}
.offcanvas-body {
  padding: 0px 0px;

}
.offcanvas-body .page_filter {
  padding: 0px 15px;

}
.filter_title {
  font-size: 17px;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 8px;
}
.offcanvas-body .page_filter .bootstrap-select>.dropdown-toggle, .offcanvas-body .page_filter .form-group {
  margin-bottom: 20px;
}
.btn-close:focus {
  box-shadow: none;
}
#date {
  width: 100%;
  outline: none;
  border: 1px solid var(--blue);
  /* padding: 6px 28px; */
  color: var(--blue);
}

.date-container {
  position: relative;
  float: left;
  width: 100%;
}
.date-container .date-text {
  position: absolute;
  top: 6px;
  left: 12px;
  color: #aaa;
}
.date-container .date-icon {
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 16px;
  color: var(--blue);
}
/* ---------------------------- ledger_css_end ---------------------------- */


/* ------------------------- sauda_summary_css_start ------------------------ */
.sauda_summary_box .ledger_box_left h5 {
  font-size: 14px;
  color: var(--blue);
}
.sauda_summary_box .ledger_box_left h3 {
  font-size: 20px;
  color: var(--blue);
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0px;
}

.sauda_summary_box .ledger_box_left p span {
  font-weight: 500;
  padding-left: 5px;
}
.sauda_summary_box .ledger_box_right h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--green);
}
.sauda_summary_box .ledger_box_right h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--blue);
  margin: 10px 0;
}
.sauda_summary_box .ledger_box_right p {
  color: var(--blue);
}
.red_color {
  color: var(--red) !important;
}
/* ------------------------- sauda_summary_css_end ------------------------ */

/* --------------------------- pl_report_css_start -------------------------- */
.pl_report_main {
  height: 100vh;
}
.pl_report_main .down_filter_btn ul li {
  margin-right: 0;
}
.report_title h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
  margin: 20px 0px 100px;
}
.page_filter .filter_download_btn {
  margin-top: 40px;
}
/* --------------------------- pl_report_css_end -------------------------- */

/* --------------------- t_5_liquidation_info_css_start --------------------- */
.liquidation_box {
  padding: 12px 10px;
}
.liquidation_info_date {
  font-size: 20px;
  color: var(--blue);
  font-weight: 500;
  margin-bottom: 10px;
}
.liquidation_main .ledger_box_left h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--blue);
}
.liquidation_main .ledger_box_right h5 {
  font-size: 14px;
  font-weight: 500;
}
.liquidation_main .ledger_box_right h5 span {
  padding-left: 5px;
}
.text_green {
  color: var(--green);
}

/* --------------------- t_5_liquidation_info_css_end --------------------- */


/* ------------------------ holding_report_css_start ------------------------ */
.holding_report_main {
  padding: 0 15px;
}

.holding_report_box .ledger_box_left h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--blue);
}
.holding_report_box .ledger_box_left h4 {
  font-weight: 600;
  font-size: 15px;
  margin-top: 45px;
}
.holding_report_box .ledger_box_left h4 span {
  padding-left: 10px;
}
.holding_report_box .ledger_box_right h5 {
  font-size: 14px;
  color: var(--gray);
}
.holding_report_box .ledger_box_right h5 span, .holding_report_box .ledger_box_right p span {
  padding-left: 7px;
}
.holding_report_box .ledger_box_right p {
  font-size: 14px;
  font-weight: 500;
  color: var(--blue);
  margin-bottom: 0px;
  margin-top: 10px;
}
/* ------------------------ holding_report_css_end ------------------------ */

/* ------------------------- margin_report_css_start ------------------------ */
.margin_report_wrap {
  padding: 0px 15px 10px;
}
.utilized {
  background-color: var(--blue);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}
.utilized ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.utilized ul li p {
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 0;
}
.utilized ul li span {
  padding: 0px 15px;
  line-height: 40px;
  font-weight: 500;
  color: var(--blue);
  background-color: var(--white);
  text-align: center;
  border-radius: 4px;
}
.accordion-item {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.30);
  border: none;

}
.accordion-item:last-of-type {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.accordion-item:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(10px - 1px);
  border-top-right-radius: calc(10px - 1px);
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(10px - 1px);
  border-bottom-left-radius: calc(10px - 1px);
}
.accordion-button:not(.collapsed),
.accordion-button {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  padding: 13px 10px;
}
.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  background-image: url(../images/margin_aarow.svg);
  background-size: 15px;
  width: 15px;
  height: 9px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-body {
  padding: 10px 10px 3px;
}
.segment_check ul li {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.segment_check .form-group {
  margin-bottom: 0;
}
.custom-checkbox p {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
}
.segment_check ul li span {
  font-weight: 500;
  color: var(--gray);
}
.segment_check ul li span.active {
  color: var(--blue);
}
.equivalent_main h2 {
  font-size: 15px;
  font-weight: 600;
  color: var(--blue);
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}
.equivalent_box {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.30);
  background-color: var(--white);
  border-radius: 10px;
  padding: 7px 10px 1px;
}
.cash_recd {
  padding-bottom: 5px;
}
.cash_recd ul, .cash_normal_btn_border {
  border-bottom: 1.5px solid #D7D7D7;
}
.cash_normal_btn_border {
  margin-bottom: 7px;
}
.cash_normal_btn_border_assets {
  margin-bottom: 3px;
}
.cash_recd ul li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cash_recd ul li p,
.cash_recd ul li span {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--blue);
}
.cash_recd ul li span {
  color: var(--gray);
}

.cash_normal ul li {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.cash_normal ul li p {
  width: 65%;
}
.cash_normal ul li p,
.cash_normal ul li span {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
  line-height: normal;
}
.cash_normal ul li span {
  color: var(--gray);
  font-size: 16px;
}
.cash_recd_mb5 {
  margin-bottom: 5px;
}
/* ------------------------- margin_report_css_end ------------------------ */


/* -------------------------- responsive_css_start -------------------------- */
@media (max-width: 991px) {
  .wrap_sec {
    width: 100%;
  }
  .offcanvas-body .page_filter {
    padding: 0px 15px;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 150px;

  }

}


@media (max-width: 767px) {}

@media (max-width: 568px) {
  .header_title h1 {
    font-size: 15px;
    margin-top: 3px;
  }

}

@media (max-width: 480px) {}
@media (max-width: 370px) {
  .holding_report_box .ledger_box_left h4 {
    font-size: 12px;
    margin-top: 46px;
  }
  .holding_report_box .ledger_box_left h4 span {
    padding-left: 5px;
  }
  .holding_report_box .ledger_box_right h5 span, .holding_report_box .ledger_box_right p span {
    padding-left: 5px;
  }
  .holding_report_box .ledger_box_right p {
    font-size: 13px;
  }
}
/* -------------------------- responsive_css_end -------------------------- */